[submodule "lgenerics"]
	path = lgenerics
	url = https://github.com/avk959/LGenerics.git
[submodule "freepascal/lgenerics"]
	path = freepascal/lgenerics
	url = https://github.com/avk959/LGenerics.git
